.about-company {
  max-width: 1212px;
  margin: 0 auto;
  margin-top: 105px;
  margin-bottom: 110px;

  position: relative;

  display: flex;
}

.about-company h2 {
  font-family: $font-robotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;


  color: $second-text-color;

  margin: 0;
}

.about-company p {
  color: $second-text-color;

  margin: 0;
  margin-top: 20px;

  max-width: 984px;
}

.about-company__btn {
  color: $second-color;

  display: block;

  width: 180px;
  margin-top: 40px;

  border: 1px solid $second-color;
  box-sizing: border-box;
  border-radius: 5px;

  outline: none;

  &:hover,
  &:focus {
    color: $white-color;
    background: $second-color;
  }
}

.about-company img {
  position: absolute;
  top: 5px;
  left: -9px;

  z-index: 1;
}

.about-company__wrapper {
  position: relative;

  margin-left: 201px;

  z-index: 2;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .about-company {
    margin-top: 57px;
    margin-bottom: 81px;
  }

  .about-company h2 {
    font-size: 32px;
    line-height: 45px;
  }

  .about-company p {
    margin-top: 22px;
    max-height: 91px;
    max-width: 95%;
  }

  .about-company span {
    display: none;
    position: relative;
  }

  .about-company p + p {
    &::after {
      content: "..";
      display: inline;
    }
  }

  .about-company__wrapper {
    margin-left: 212px;
  }

  .about-company img {
    width: 248px;

    top: -1px;
    left: -9px;
  }

  .about-company__btn {
    margin-top: 43px;
  }
}

@media (max-width: $tablet-width) {
  .about-company img {
    display: none;
  }

  .about-company h2 {
    font-size: 28px;
    line-height: 39px;

    margin-bottom: 0;
  }

  .about-company__wrapper {
    margin: 0 auto;
    margin-left: 13px;
    display: flex;
    flex-direction: column;

    width: 97.63%;
  }

  .about-company {
    margin-top: 58px;
    margin-bottom: 65px;
  }

  .about-company p {
    margin-bottom: 19px;
    margin-left: 4px;
    width: 97%;
  }

  .about-company span {
    display: none;
    position: relative;
  }

  .about-company p + p {
    &::after {
      content: "..";
      display: inline;
    }
  }

  .about-company__btn {
    margin-top: 10px;
    margin-left: 3px;
  }
}
