.banner {
  margin: 0 auto;

  min-width: 1411px;
  min-height: 788px;
  position: relative;
  background: url("../img/triangle.svg") no-repeat;
  background-size: 1920px auto;
  background-position-x: -250px;
  background-position-y: -90px;
}

.banner h2 {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: $white-color;

  width: 50.89%;
  margin: 0;
  padding: 0;
  padding-top: 225px;
}

.banner p {
  font-size: 22px;
  line-height: 34px;

  color: $white-color;

  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 44px;
  padding-left: 6.73%;
  width: 44%;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 2px;
    width: 66px;
    height: 2px;
    background: $white-color;
  }
}

.banner__btn {
  font-size: 16px;
  line-height: 19px;

  color: $white-color;

  display: block;
  padding-top: 17px;
  width: 407px;
  height: 55px;
  background: $second-color;
  border-radius: 5px;
  border: none;

  margin-left: 96px;

  &:hover {
    background: none;
    border: 1px solid $white-color;
  }

  p {
    margin: 0;
  }
}

.banner__btn-text {
  &--mobile {
    display: none;
  }
}

.banner__scroll {
  font-size: 14px;
  line-height: 16px;

  color: $white-color;

  opacity: 0.5;
  transform: rotate(-90deg);

  display: block;
  position: absolute;
  bottom: 127px;
  left: -36px;

  &:hover {
    opacity: 1;
  }
}

.banner img {
  position: absolute;
  top: 168px;
  right: -81px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .banner {
    min-width: 770px;
    min-height: 600px;

    padding-bottom: 7px;
    position: relative;
    background-size: 1500px auto;
    background-position-x: -364px;
    background-position-y: -205px;
  }

  .banner img {
    width: 465px;
    top: 37px;
    right: -205px;
  }

  .banner h2 {
    width: 61.04%;
    padding-top: 112px;
    margin-left: 86px;

    font-size: 60px;
    line-height: 70px;
  }

  .banner p {
    font-size: 18px;
    line-height: 28px;

    padding-left: 138px;
    margin-top: 29px;
    margin-bottom: 54px;

    &::after {
      top: 16px;
      left: 90px;
      width: 33px;
    }
  }

  .banner__btn {
    width: 379px;
    margin-left: 138px;
  }

  .banner__btn-text {
    &--mobile {
      display: none;
    }
  }

  .banner__scroll {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .banner {
    min-width: 100%;
    min-height: 580px;
    position: relative;
    background-size: 1439px auto;
    background-position-x: -619px;
    background-position-y: -192px;

    padding-bottom: 7px;

    overflow: hidden;
  }

  .banner img {
    width: 301px;
    top: 32px;
    left: 8%;

    overflow: hidden;
  }

  .banner h2 {
    position: relative;

    font-size: 40px;
    line-height: 47px;

    margin-left: 15px;

    width: 90%;

    z-index: 1;
  }

  .banner p {
    width: 85%;

    font-size: 16px;
    line-height: 25px;

    padding-left: 65px;
    margin-top: 27px;

    &::after {
      top: 17px;
      left: 17px;
      width: 33px;
    }
  }

  .banner__btn {
    margin-left: 18px;
    width: 90.07%;
  }

  .banner__btn-text {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .banner__scroll {
    display: none;
  }
}
