.contacts {
  min-height: 670px;
  background: url("../img/contacts-triangle.svg") no-repeat $second-color;
  background-position-x: 174px;
  background-position-y: -60px;
}

.contacts__container {
  max-width: 1220px;
  margin: 0 auto;
  padding-top: 92px;
  display: flex;
  position: relative;
}

.contacts h3 {
  font-family: $font-robotoRegular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  color: $white-color;

  margin: 0;
  margin-left: 99px;
}

.contacts p {
  margin: 0;
  margin-top: 10px;
  margin-left: 103px;

  color: $white-color;
}

.contacts__container img {
  position: absolute;
  top: 160px;
  left: 0;

  width: 42%;
}

.contacts__wrapper {
  width: 697px;
  margin-left: auto;
  position: relative;

  z-index: 2;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts {
    min-height: 664px;

    background: $second-color;
  }

  .contacts__container {
    width: 84.27%;
    padding-top: 80px;
  }

  .contacts__wrapper {
    margin: 0 auto;
  }

  .contacts h3 {
    font-size: 32px;
    line-height: 45px;

    margin: 0;
    margin-left: 27px;
  }

  .contacts p {
    margin-top: 16px;
    margin-left: 32px;
  }

  .contacts__container img {
    display: none;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    min-height: 640px;

    background: $second-color;
  }

  .contacts__container {
    width: 90.63%;
    padding-top: 32px;
  }

  .contacts__wrapper {
    margin: 0;

    width: 100%;
  }

  .contacts h3 {
    font-size: 28px;
    line-height: 39px;

    margin: 0;
  }

  .contacts p {
    margin: 0;
    margin-top: 12px;
  }

  .contacts__container img {
    display: none;
  }
}
