.gradient {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  min-height: 2000px;

  background: url("../img/chip-desktop.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 878px, white 878px, white 100%);
  background-size: 1920px auto;
  background-position: center;
  background-position-y: 0;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .gradient {
    background: url("../img/chip-desktop.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 686px, white 686px, white 100%);
    background-size: 1500px auto;
    background-position: center;
    background-position-y: 0;
  }
}

@media (max-width: $tablet-width) {
  .gradient {
    background: url("../img/chip-desktop.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 648px, white 648px, white 100%);
    background-size: 1410px auto;
    background-position: center;
    background-position-y: 0;
  }
}
