.modal {
  display: none;
  position: fixed;
  width: 490px;
  min-height: 605px;

  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: $second-color;

  z-index: 7;
}

.modal--active {
  display: block;
}

.modal__btn-close {
  position: absolute;

  top: 21px;
  right: 18px;
  width: 20px;
  height: 20px;
  outline: none;
  font-size: 0;
  border: none;
  background: inherit;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 23px;
    height: 1px;
    background-color: $white-color;

    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 23px;
    height: 1px;
    background-color: $white-color;

    transform: rotate(-45deg);
  }
}

.modal__container {
  width: 412px;

  margin: 0 auto;
  padding-top: 10px;
}

.modal__title {
  font-family: "RobotoCondensedRegular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;

  color: $white-color;

  margin: 0;
  margin-top: 22px;
}

.modal__text {
  margin: 0;
  margin-top: 12px;

  width: 382px;

  color: $white-color;
}

.modal__form {
  margin-top: 33px;
}

.modal__form input {
  width: 100%;
  height: 50px;

  margin-bottom: 30px;
  padding-left: 26px;

  color: $white-color;

  background: #19baff;

  border: none;

  outline: none;

  box-sizing: border-box;

  &:hover,
  &:focus {
    border: 1px solid $white-color;
  }

  &::placeholder {
    padding-top: 14px;
    color: $white-color;
  }
}

.modal__form textarea {
  width: 100%;
  min-height: 110px;

  padding-top: 17px;
  padding-left: 25px;

  color: $white-color;

  background: #19baff;

  outline: none;

  border: none;

  box-sizing: border-box;

  &:hover,
  &:focus {
    border: 1px solid $white-color;
  }

  &::placeholder {
    color: $white-color;
  }
}

.modal__btn {
  width: 100%;
  height: 45px;

  padding: 0;

  color: $white-color;

  display: block;

  background: none;

  cursor: pointer;

  &:hover {
    background: $text-color;
  }
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.modal-form__label {
  font-size: 14px;
  line-height: 16px;

  color: $white-color;

  opacity: 0.8;

  position: relative;

  max-width: 338px;

  margin-top: 34px;
  padding-left: 49px;
}

.modal-form__input + label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid $white-color;
  cursor: pointer;
}

.modal-form__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: url("../../img/icon-checked.svg") center no-repeat;
  cursor: pointer;
}


@media (max-width: $tablet-width) {
  .modal {
    width: 100%;
    padding-bottom: 20px;
  }

  .modal__container {
    width: 87.5%;
  }

  .modal__text {
    width: 87.5%;
  }
}
