.page-header {
  display: flex;
  flex-wrap: wrap;

  background: url("../img/chip-desktop1x.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 878px, white 878px, white 100%);
  background-size: cover;
  background-position: center;
  background-position-y: 0;

  overflow: hidden;

  padding-left: 30px;
  padding-right: 30px;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/chip-desktop2x.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 878px, white 878px, white 100%);
  }
}

.page-header__container {
  width: 100%;
  margin: 0 auto;

  display: flex;
}

.page-header__logo {
  display: block;
  margin-top: 33px;
  margin-left: auto;

  width: 203px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    padding: 0;
  }

  .page-header__container {
    min-width: 770px;

    justify-content: space-between;
  }

  .page-header__logo {
    margin-top: 20px;
    margin-left: 23px;
    width: 224px;
  }
}

@media (max-width: $tablet-width) {
  .page-header {
    padding: 0;
  }

  .page-header__container {
    min-width: 100%;
  }

  .page-header__logo {
    margin-left: 17px;
    margin-top: 17px;
    width: 39px;
  }
}
