.page-header {
  max-width: 1411px;
  margin: 0 auto;
  display: flex;
}

.page-header__logo {
  display: block;
  margin-top: 33px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header__logo {
    margin-top: 22px;
    margin-left: 25px;
    width: 282px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__logo {
    margin-left: 17px;
    margin-top: 17px;
    width: 48px;
  }
}
