.page-header {
  display: flex;
  flex-wrap: wrap;

  background: url("../img/chip-desktop1x.png") no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 878px, white 878px, white 100%);
  background-size: cover;
  background-position: center;
  background-position-y: 0;

  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/chip-desktop2x.png")  no-repeat, linear-gradient(#1b2d37 0%, #1b2d37 878px, white 878px, white 100%);
  }
}

.page-header__container {
  min-width: 1411px;
  margin: 0 auto;

  display: flex;
}

.page-header__logo {
  display: block;
  margin-top: 33px;

  width: 203px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header__container {
    min-width: 770px;
  }

  .page-header__logo {
    margin-top: 22px;
    margin-left: 25px;
    width: 245px;
  }
}

@media (max-width: $tablet-width) {
  .page-header__container {
    min-width: 100%;
  }

  .page-header__logo {
    margin-left: 17px;
    margin-top: 17px;
    width: 39px;
  }
}
