.page-footer {
  background: #fafafa;
  min-height: 317px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 262px;
    left: 0;
    opacity: 0.2;

    background: #626962;
  }
}

.page-footer__wrapper {
  margin: 0 auto;
  position: relative;

  max-width: 1411px;
  min-height: 265px;

  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  position: absolute;

  top: 63px;
  left: -5px;
}

.page-footer__info {
  font-family: "PTMono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #1b2d37;

  opacity: 0.5;

  display: none;

  margin: 0;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-footer {
    min-height: 455px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 95px;
      left: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 68px;
      left: 0;

      opacity: 0.2;

      background: #626962;
    }
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
  }

  .page-footer__logo {
    top: 18px;
    left: 25px;
  }

  .page-footer__info {
    display: block;
    width: 31%;

    margin-top: 35px;
    margin-left: auto;
    margin-right: 46px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__wrapper {
    flex-wrap: wrap;
  }

  .page-footer__logo {
    width: 215px;
    top: 46px;
    left: 16%;
  }

  .page-footer__info {
    display: block;

    margin: 0 auto;
    margin-top: 124px;
  }
}
