.social__list {
  display: flex;
  flex-wrap: wrap;

  width: 126px;

  margin: 0;
  padding: 0;
  margin-top: 170px;

  list-style: none;
}

.social__item {
  margin-right: 15px;
}

.social__link {
  fill: #cdcdcd;

  outline: none;

  &:hover,
  &:focus {
    fill: $text-color;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .social__list {
    margin-top: 31px;
    margin-left: 19px;
    padding-right: 5px;
  }

  .social {
    width: 20%;
  }
}

@media (max-width: $tablet-width) {
  .social__list {
    margin: 0 auto;
  }

  .social {
    margin: 0 auto;
    margin-top: 32px;
    padding-left: 16px;
    width: 100%;
  }
}
