@font-face {
  font-family: "PTMono";
  src: url("../fonts/PTMono.woff2") format("woff2"),
    url("../fonts/PTMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed.woff2") format("woff2"),
    url("../fonts/RobotoCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
