@font-face {
  font-family: "PTMono";
  src: url("../fonts/ptMono.woff2") format("woff2"),
    url("../fonts/ptMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/robotoCondensed.woff2") format("woff2"),
    url("../fonts/robotoCondensed.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensedRegular";
  src: url("../fonts/robotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/robotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
