$text-color: #1b2d37;
$second-text-color: #666666;
$white-color: #ffffff;
$second-color: #00b2ff;
$font-roboto: "RobotoCondensed", "Arial", sans-serif;
$font-robotoRegular: "RobotoCondensedRegular", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
